
<!--
  -- "ng-repeat" will act like a for loop and will create a div for each object in the response
  -- The response is manipulated and is being shown in the "ui-view" in index
  -- "Image div" and "Content div" is placed in the whole div
  -- "More Info" button triggers the modal and the modal appears in the child binding element
  ---->

<div class="container" style="border: 1px solid black;padding-bottom: 20px ; padding-top:20px;">

    <!--image view-->
    <div class="col-lg-3">
        <img src="http://image.tmdb.org/t/p/w185{{response.poster_path}}" onerror="this.src='noImageFound.jpg'" />
    </div>

    <!--content view-->
    <div class ="col-lg-9">
        <h2 class="center">{{response.original_title}}</h2>
        <p>{{movie.overview}}</p>
        <button style="float:right;background-color:#3e8e41;color:#fff;border-radius:10px;">
            <a ui-sref="latest.modal({id: response.id})">More Info</a>
        </button>
    </div>
</div>

<!--child view for the modal-->
<div>
    <ui-view></ui-view>
</div>